<div class="close_bg" onclick="toggleMenu(true)"></div>
<nav class="app__nav">
    <div class="nav-icon app__flex">
        <a href="/" class="app__flex"><img src="/../logo.png" alt="Site Logo" id="app__logo"></a>
    </div>
    <div class="toggle-icon-div app__flex icon-div">
    <i class="fas fa-bars" onclick="toggleMenu(false)" id="hamMenu1"></i>
    </div>
    <div class="app__nav-links app__flex" id="nav-links">
        <div class="toggle-iconX-div app__flex icon-div">
        <i class="fas fa-times" onclick="toggleMenu(true)" id="hamMenu2"></i>
        </div>
        <ul>

            <li class="nav_link"><a href="/">Home</a></li>
            <li class="nav_link"><a href="/rentals">Rentals</a></li>
            {{#if user}}
            {{#if isClerk}}
            <li class="nav_link"><a href="/rentals/list">{{user.Name}}</a></li>
            {{else}}
            <li class="nav_link"><a href="/cart">{{user.Name}}</a></li>
            {{/if}}
            <li class="nav_link"><a href="/log-out">Log-out</a></li>
            {{else}}
            <li class="nav_link"><a href="/sign-up">Sign-up</a></li>
            <li class="nav_link"><a href="/log-in">Log-in</a></li>
            {{/if}}
        </ul>
        
        
    </div>
</nav>


{{!-- <div class="close_bg" onclick="toggleMenu(true)"></div>
<nav class="nav_bar">
    <div id="nav-logo">
        <a href="../index.html"><img src="../img/logo.png" alt="Delmoure College"></a>
    </div>
    <div id="nav-links">
        <i class="fas fa-times" onclick="toggleMenu(true)"></i>
        <ul>
            <li><a href="../index.html">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="courses.html">COURSES</a></li>
            <li><a href="blog.html">BLOG</a></li>
            <li><a href="contact.html">CONTACT</a></li>
        </ul>
    </div>
    <i class="fas fa-bars" onclick="toggleMenu(false)"></i>
</nav> --}}