<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nest Rental properties</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/home.css"> 

    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Merriweather&display=swap" rel="stylesheet">

    <!-- Icon links -->
    <link href="../css/brands.css" rel="stylesheet">
    <link href="../css/solid.css" rel="stylesheet">
    <link href="../css/fontawesome.css" rel="stylesheet">
    <!-- google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div id="front_page" class="container">
        <header>
            <nav class="app__nav">
                <ul>
                    <li><a href="/"><img src="../logo.png" alt="Site Logo" id="app__logo"></a></li>
                    <li class="app__nav-links">
                    <li class="nav_link"><a href="/">Home</a></li>
                    <li class="nav_link"><a href="/rentals">Rentals</a></li>
                    <li class="nav_link"><a href="/sign-up">Sign-up</a></li>
                    <li class="nav_link"><a href="/log-in">Log-in</a></li>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="app__hero app__flex">
            <div class="app__hero-div app__flex">
                <h1>Best Rental Site</h1>
                <p>Our amazing Team is devoted to ensuring that every one of our customer is able to enjoy their
                    stay.
                    Making us the best place to look for rental in the world.</p>
            </div>
            <div class="app__hero-btn">
                <a href="/rentals"><button id="btn__list">List Your Property</button></a>
            </div>
        </section>
    </div>
    <section class="container app__flex app__content">
        <h1 class="heading">Content We Offer</h1>
        <p>This are the service we are offering to our customer</p>
        <div class="content_grid app__flex">
            <div class="content_item app__flex">
                <div class="content-icon"><span class="material-symbols-outlined">
                    verified_user
                    </span></div>
                <h3>Peace Of Mind</h3>
                <p>Our Team is there for you 24X7 for any assistance</p>
            </div>
            <div class="content_item app__flex">
                <div class="content-icon"><span class="material-symbols-outlined">
                    schedule
                    </span></div>
                <h3>More Quality Time</h3>
                <p>From booking to staying the whole process is simple and enjoyable</p>
            </div>
            <div class="content_item app__flex">
                <div class="content-icon"><span class="material-symbols-outlined">
                    home
                    </span></div>
                <h3>All the privacy of home</h3>
                <p>Enjoy full Kitchens, laundry, pools, yards and more</p>
            </div>
            <div class="content_item app__flex">
                <div class="content-icon"><span class="material-symbols-outlined">
                    thumb_up
                    </span></div>
                <h3>More for less</h3>
                <p>More space, more privacy, more amenities - more value</p>
            </div>
        </div>
        <div class="app__content-mission">
            <span class="orange_text">Our Vision:</span>
            <span>To satisfy every customer on NEST</span>
        </div>
    </section>
    <section class="container app__flex app__rentals">
        <h2 class="heading">Featured Rentals</h2>
        <div class="rentals app__flex">
            <div class="rental_item">
                <div class="rental_item_div">
                    <img src="../hero-new.jpg" alt="Property Image">
                </div>
                <h4>Niagara fall</h4>
                <p class="grey-text">Sleeps 4 · 2 BR · 1 BA</p>
                <p class="grey-text"><span class="bold-text">C$143</span> avg/night</p>
            </div>
            <div class="rental_item">
                <div class="rental_item_div">
                    <img src="../a6.jpg" alt="Property Image">
                </div>
                <h4>Doncaster, markham</h4>
                <p>Sleeps 7 · 4 BR · 1 BA</p>
                <p><span class="bold-text">C$343</span> avg/night</p>
            </div>
            <div class="rental_item">
                <div class="rental_item_div">
                    <img src="../a7.jpg" alt="Property Image">
                </div>
                <h4>Lakeview, Mississauga</h4>
                <p>Sleeps 4 · 2 BR · 1 BA</p>
                <p><span class="bold-text">C$213</span> avg/night</p>
            </div>
            <div class="rental_item">
                <div class="rental_item_div">
                    <img src="../a1.jpg" alt="Property Image">
                </div>
                <h4>Richmond Hill, ON</h4>
                <p>Sleeps 4 · 2 BR · 1 BA</p>
                <p><span class="bold-text">C$321</span> avg/night</p>
            </div>
            <div class="rental_item">
                <div class="rental_item_div">
                    <img src="../a2.jpg" alt="Property Image">
                </div>
                <h4>Hurontario, ON</h4>
                <p>Sleeps 9 · 4 BR · 3 BA</p>
                <p><span class="bold-text">C$402</span> avg/night</p>
            </div>
            <div class="rental_item">
                <div class="rental_item_div">
                    <img src="../a3.jpg" alt="Property Image">
                </div>
                <h4>Clarkson-lorne park</h4>
                <p>Sleeps 12 · 5 BR · 3 BA</p>
                <p><span class="bold-text">C$475</span> avg/night</p>
            </div>
            <div class="rental_item">
                <div class="rental_item_div">
                    <img src="../a4.jpg" alt="Property Image">
                </div>
                <h4>Sheridan, ON</h4>
                <p>Sleeps 5 · 1 BR · 1 BA</p>
                <p><span class="bold-text">C$130</span> avg/night</p>
            </div>
            <div class="rental_item">
                <div class="rental_item_div">
                    <img src="../a5.jpg" alt="Property Image">
                </div>
                <h4>Niagara fall</h4>
                <p>Sleeps 4 · 2 BR · 1 BA</p>
                <p><span class="bold-text">C$143</span> avg/night</p>
            </div>
            <div class="rental_item">
                <div class="rental_item_div">
                    <img src="../hero-new.jpg" alt="Property Image">
                </div>
                <h4>Niagara fall</h4>
                <p class="grey-text">Sleeps 4 · 2 BR · 1 BA</p>
                <p class="grey-text"><span class="bold-text">C$143</span> avg/night</p>
            </div>
        </div>
        <div class="app__contact_us app__flex">
            <div class="contact_us app__flex">
                <p>Have any question or need any assistance?</p>
                <a href="tel:+1234567890"><button id="btn__list">Contact Us</button></a>
            </div>
        </div>
    </section>
    <footer class="app__flex">
        <h4>Quick Links</h4>
        <ul>
                <li class="footer_links"><a href="/">Home</a></li>
                <li class="footer_links"><a href="/rentals">Rentals</a></li>
                <li class="footer_links"><a href="/sign-up">Sign-up</a></li>
                <li class="footer_links"><a href="/log-in">Log-in</a></li>
            
        </ul>
        <div class="social_media app__flex">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#">
                <i class="fa-solid fa-envelope"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
        <div class="copywrite">
            <p class="grey-text">By submitting this assignment I declare that this assignment is my own work in accordance with
                the Seneca Academic Policy. No part of this assignment has been copied manually or
                electronically from any other source (including web sites) or distributed to other students.
                </p>
                <p class="grey-text">© Harshil Patel, hpatel292@myseneca.ca, WEB322 Winter 2023</p>
                <p>Made with <span class="heart">♡</span> by Harshil Patel</p>
        </div>
    </footer>
</body>

</html>