<div class="rentals_hbs app__flex">
    {{#each data}}

    <h1>{{cityProvince}}</h1>
    <div class="rentals app__flex">

        {{#each rentals}}
        {{> rental this}}
        {{/each}}

    </div>

    {{/each}}
</div>