    <div class="background">
      <div class="overlay">
        <h1>Thank for updating details on the NEST</h1>
        <p>{{message}}</p>
        <a href="/rentals/list"><button type="button" class="btn btn-secondary">Rentals List</button></a>
      </div>
    </div>
